<html>
    <head>
        <title>Geoinformatic's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Geoinformatic's blog</a></h1>
        </div>

        <div>
            <p>published: 08.05.2019, 9:20</p>
            <h2><a href="">Cartography</a></h2>
            <p>Cartography is the study and practice of making maps. Combining science, aesthetics, and technique, cartography builds on the premise that reality can be modeled in ways that communicate spatial information effectively.</p>
        </div>

        <div>
            <p>published: 08.05.2019, 9:22</p>
            <h2><a href="">Geographic information system</a></h2>
            <p>A geographic information system (GIS) is a system designed to capture, store, manipulate, analyze, manage, and present spatial or geographic data. GIS applications are tools that allow users to create interactive queries (user-created searches), analyze spatial information, edit data in maps, and present the results of all these operations.[1][2] GIS (more commonly GIScience) sometimes refers to geographic information science (GIScience), the science underlying geographic concepts, applications, and systems.</p>
        </div>
    </body>
</html>